/* projects section for small screen - flex */
.project-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    /* project cards all the same size for mobile */
    >article {
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        margin: 20px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: 2px solid $secondary-color;

        div {
            position: relative;
            background-color: $primary-color;
            color: $secondary-color;
            transition: 0.4s ease;

            i{
                position: absolute;
                right: 0px;
                height: 20px;
                top: calc(50% - 20px);
                font-size: 40px;
            }

            hr {
                width: 0%;
                border: 0px solid white;
                transition: width 0.4s ease-in;
            }

            h3 {
                width: 100%;
                font-weight: 100;
                padding-right: 30px;
            }
        }
    }
}

@media (min-width:$tablet-breakpoint) {
    main>section>.project-cards-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            'f f f f f f'
            'g g g a a a'
            'c c c b b b'
            'e e e d d d';
        gap: 40px;
        margin: 40px 0;

        article {
            width: auto;
            max-width: none;
            margin: 0;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

@media (min-width:$computer-breakpoint) {
    main>section>.project-cards-container {
        grid-template-areas:
            'f f f f g g'
            'a a c c c c  '
            'e e b b d d';
    }
}